.App {
  text-align: center;
  
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  width:100%;
  box-sizing: border-box;
}

.appContainer{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;

}
section {
  height: 100vh;
  scroll-snap-align: start;
}

.first {
  background-color: hsl(227, 10%, 50%);
}
.second {
  background-color: hsl(212, 30%, 60%);
}
.third {
  background-color: hsl(227, 10%, 70%);
}
.fourth {
  background-color: 	hsl(200, 28%, 60%);
}
.loadingView{
  background-color: hsl(227, 10%, 50%);
  font-family: 'Montserrat', sans-serif;
  width:100%;
  height: 100vh;
  display:flex;
  justify-content: center; align-items: center;
  box-sizing: border-box;
}

h1{
  color: white;
  font-size: 64px;
}
.firstView{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}
.firstLeft {
  margin-top: -5%;
}
.profilePic{
 height: 150px;
 width: auto;
 border-radius: 50%;
 border: solid white 1px;
 float: right;

}
.secondView{
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}
.secondView h1{
  color: white;
  font-size: 40px;
}
.secondView p{
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 1.25;
  text-align: justify;
  text-justify: auto;
  padding-right: 15px;
}
.cardFlex{
  display: flex;
  justify-content: space-between;
}
.cardLanguage{
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.cardDescription{
  font-size: 13px;
  color: black;
  font-weight: bolder;
}





.scrollableDiv{
  display: grid;
  margin-bottom: 2%;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  overflow-y: scroll;
  grid-gap: 1rem;
  height: 85%;

}
.thirdView{
  height: 100%;
  padding-left: 10%;
  padding-right: 7%;
}
.projectCard h2 {
  font-size: 18px;
}
.navbar{
  padding-top: 3%;
  list-style-type: none;
  display: flex;
  justify-content: end;
  
}
ul{
  margin-top: 0;
}
li{
  margin-right: 5.5%;
}
.pitch{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5%;
}
.fourthView{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;

}

.vl{
  border-right: 1px solid black;
  height: 90vh;
}

hr{
  border: 0.5px solid white;
}
a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
.navbar a:hover{
  color:#93abc6;
  

}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
}

.fa{
  margin: 4px 10px;
  padding: 7px;
  border-radius: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  background: none;
  border: solid white 1px;
  color: white;
}

.fa:hover{
  background-color:#93abc6;
  border-color: #93abc6;
}


.btn-type-one{
  align-items: center;
  background-color: transparent;
  border: solid white 1px;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
}

.btn-type-one:hover{
  background-color:#93abc6;
  border-color: #93abc6;
}

.btn-type-two{
  align-items: center;
  background-color: transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  justify-content: center;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  background-color:#93abc6;




}

.btn-type-two:hover {
  background-color: hsl(227, 10%, 70%);

}

.btn-type-three{
  align-items: center;
  background-color: transparent;
  border: solid black 1px;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}

.btn-type-three:hover {
  background-color:#828991;
  border-color: #828991;
}
.projectCard:hover {
  transform: scale(1.02);
}

form{

  margin-top: -2%;

}
input[type=text], input[type=email], textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: small ;
  width: 100%;
  font-weight: 400;
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
label{
  font-weight: bold;
  color: white;
}

.bottom{
  height: 20vh;
}

.details li {
  font-weight: bolder;
  font-size: 16px;
  color: white;
}
.fourthView h1{
  font-size: 30px;
}

.navPin{
  border-left: 1px solid black;
  height: 10vh;

}

.gitHubPic{
  width:15%;
  height: auto;
  float: right;
  padding-top: 2.5px;
}

.cardHr{
  background-color: rgba(108, 122, 137, 0.7);
  border:none;
  height: 1px;
}

.status{
  padding-left: 5px;
}
/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The alert message box */
.alert {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 10px;
  background-color: rgb(75,181,67,0.5); /* Red */
  color: white;
  margin-bottom: 15px;
  border: 1px solid rgb(75,181,67);
  font-weight: bolder;
}
.alert-failure{
  width: 100%;
  padding-top: 3px;
  padding-bottom: 10px;
  background-color: rgb(252,16,13,0.5); /* Red */
  color: white;
  margin-bottom: 15px;
  border: 1px solid rgb(252,16,13);
  font-weight: bolder;

}
.alert-failure p, .alert p{
  margin-left: 10px;
}


/* The close button */
.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 36px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: white;
}

p {
  color: white;
}

/*CUSTOM VARIABLES HERE*/
 
.projectCard {
  display: block;
  align-content: space-evenly;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Tablet */

/* Mobile */


/* Large Screen */

@media screen and (min-width: 2560px) {
  nav a {
    font-size: 36px;
  }
  .firstView h1 {
    font-size: 64px;
  }
  .firstView p {
    font-size: 42px;
  }
  .secondView h1 {
    font-size: 64px;
  }
  .secondView p {
    font-size: 24px;
  }
  .profilePic {
    height: 300px;
    width: auto;
    margin-left: 2px;
  }
  .scrollableDiv {
    display: grid;
    margin-bottom: 2%;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 100px;
    grid-gap: 1rem;
    overflow-y: auto;
    height: 75%;
    font-size: 10px;
  }
  .projectCard h2 {
    font-size: 28px;
  }
  .projectCard p {
    font-size: 18px;
  }
  .projectCard a {
    font-size: 18px;
    padding: 20px
  }
  .btn-type-one {
    padding: 30px;
    font-size: 25px;
  }
  .footer {
    height: 100px;
  }
  .fa {
    margin: 10px 16px;
    padding: 7px;
    border-radius: 15px;
    width: 50px;
  }
  form {
    height: 100%;
  }
  .fourthView {
    padding-top: 10%;
  }
  .fourthView li {
    font-size: 24px;
  }
  

  label {
    font-size: 24px;
  }
  input[type=text], input[type=email], textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 30px;
    font-weight: bolder;
    color: #828991;

  }
  input{
    font-weight: bolder;

  }

  .cardText {
    font-size: 12px;
    color: black;
  }
}

/* Tablet Screen */
@media screen and (max-width: 768px) {
  .firstView h1{
    margin-top: 30%;
  }
  .secondView p {
    font-size: 20px;
  }
  .projectCard h2{
    font-size: 16px;
  }
  .projectCard a{
    font-size: 12px;
    text-align: center;
  }
  .projectCard p {
    font-size: 14px;
  }
  .scrollableDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .fourthView {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
  form{
    width: 100%;
  }
  .fourthView h1 {
    font-size: 24px;
  }
}

/* Tablet Screen */
@media screen and (max-width: 411px) {
  .firstView h1{
    margin-top: 40%;
  }
  .secondView h1 {
    font-size: 24px;
  }
  .secondView p {
    font-size: 12.5px;
  }
  .profilePic {
    width: 100px;
    height: auto;
    margin-left: 4px;

  }
  .projectCard h2{
    font-size: 16px;
  }
  .projectCard a{
    font-size: 12px;
    text-align: center;
  }
  .projectCard p {
    font-size: 14px;
  }
  .scrollableDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 80%;
  }
  .fourthView {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
  form{
    width: 100%;
  }
  .fourthView h1 {
    font-size: 15px;
  }
  .fourthView li {
    font-size: 11px;
  }
  label {
    font-size: 12px;
  }
  input[type=text], input[type=email]{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;
    font-weight: 400;
    color: #828991;

  }
  textarea {
    padding: 10px 10px;
    height: 100px;
  }
}